tr:hover{
background-color:#e9ecef;
transition: 1s;

}
td{
    font-size:15px;
}


th{
    font-size:15px
}

    /* border:0.1em solid; */
    /* transition:1s; */
    /* transform : Scale(160%); */
    
